/* for listPorts */
#ports {
  font-size: 0.85em;
  margin-left: 20px;
  background-color: #ffffff;
  width: 650px;
}

#ports table {
  border: 2px solid #333;
  margin: 10px 10px 10px 0px;
}

#ports table th {
  background-color: #555;
  color: #fff;
}

#ports table th,
#ports table td {
  padding-left: 5px;
  border: 1px dotted #333;
}

#ports table td {
  color: #eee;
}

#ports h1 {
  /* font-size: 1.2em; */
  margin-bottom: 0;
  margin-top: 20px;
  padding-left: 0px;
}

#ports h2 {
  /* font-size: 1.2em; */
  margin-bottom: 0;
  margin-top: 10px;
  padding: 0 0 0 0px;
}

#ports tr {
  background-color: #aaa;
}

#ports tr.enable_port {
  cursor: pointer;
  background-color: #fff;
}

#ports tr.enable_port td {
  color: #000;
}

#ports td:nth-child(2),
#ports td:nth-child(3),
#ports td:nth-child(4),
#ports td:nth-child(5),
#ports td:nth-child(8),
#ports td:nth-child(8) {
  display: none;
}

#ports th:nth-child(2),
#ports th:nth-child(3),
#ports th:nth-child(4),
#ports th:nth-child(5),
#ports th:nth-child(8),
#ports th:nth-child(8) {
  display: none;
}

#error {
  border: 2px solid #555;
  background-color: #efe4e4;
  color: red;
  padding: 1rem;
  font-size: 1.15rem;
  font-weight: 400;
  /* height: 55px; */
}

#clr_error_div {
  text-align: right;
  margin-bottom: 40px;
}

#clr_error_div button {
  margin: 0;
  margin-top: 2px;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #555;
  color: #333;
  font-weight: normal;
  font-size: 14px;
}

/* .disable_port {
  background-color: #aaa;
}

.enable_port {
  background-color: #cfc;
}
 */
#control_div {
  display: none;
}
