:root {
  /* --app_background: #97796e; */
  --app_background: #7e977e;
  --gradient_from: #d7cfc8;
  --gradient_to: #386e44;
  /* 97796e */
}

#trigger_buttons {
  /* height: 343px; */
  /* padding-top: 10px; */
  display: grid;
  grid-template-columns: auto auto;
  /*justify-content: left;*/
  grid-column-gap: 3px;
  grid-template-rows: auto 25px;
  grid-row-gap: 15px;
  justify-items: center;
}

.tog_label {
  padding-top: 15px;
  width: 75px;
  font-weight: bold;
  text-align: center;
}

.lighted_button {
  /* height: 25px; */
  border: 2px solid #666;
  border-radius: 25px;
  margin-top: -10px;
}

.led_button {
  height: 25px;
}

.slider_input_div input,
.slider_input_div input:disabled {
  width: 50px;
  text-align: right;
  margin-left: 5px;
  background-color: transparent !important;
  border: 1px solid transparent;
  padding: 0;
}

.bounce_message {
  position: relative !important;
  height: initial;
  font-size: 2.5rem !important;
  text-align: right !important;
}
